@model ProyectoCRM.Models.CotizacionesListado

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles cotizacion</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreOportunidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreOportunidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCotizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCotizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCierra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCierra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrdenCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrdenCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Factur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Factur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asesor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asesor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactoAsociado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactoAsociado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContraQuien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContraQuien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etapa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etapa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Moneda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Moneda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCuenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCuenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Probabilidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Probabilidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RazonDenegacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RazonDenegacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zona)
        </dd>
    </dl>
</div>

