@model ProyectoCRM.Models.ViewModels.cotizacionesIndex


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Factura</th>
            <th>Asesor</th>
            <th>Contacto Asociado</th>
            <th>Etapa</th>
            <th>TIpo</th>
            <th>Productos</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cotizaciones)
        {
            <tr>
                <td>@item.NombreOportunidad</td>
                <td>@item.Descripcion</td>
                <td>@item.Factur</td>
                <td>@item.Asesor</td>
                <td>@item.ContactoAsociado</td>
                <td>@item.Etapa</td>
                <td>@item.Tipo</td>

                <td>
                    @foreach (var prod in item.ProductosXcotizacions)
                    {
                        @prod.CodigoProducto

                        <br />

                    }
                </td>
   

                <td>

                    <a asp-action="Edit" asp-route-id="@item.NumeroCotizacion">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.NumeroCotizacion">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.NumeroCotizacion">Delete</a>

                </td>
            </tr>



        }

