@model ProyectoCRM.Models.ViewModels.cotizacionesIndex


@{
    ViewData["Title"] = "Index";
}

<h1>Cotizaciones</h1>



<table class="table table-striped ">
    <thead>
        <tr>
            <th>Numero</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Factura</th>
            <th>Asesor</th>
            <th>Contacto</th>
            <th>Etapa</th>
            <th>Tipo</th>
            <th>Productos</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cotizaciones)
        {
            <tr>
                <td>@item.NumeroCotizacion</td>
                <td>@item.NombreOportunidad</td>
                <td>@item.Descripcion</td>
                <td>@item.Factur</td>
                <td>@item.AsesorNavigation.Nombre</td>
                <td>@item.ContactoAsociadoNavigation.Nombre</td>
                <td>@item.EtapaNavigation.Etapa1</td>
                <td>@item.TipoNavigation.Tipo</td>

                <td>
                    @foreach (var prod in item.ProductosXcotizacions)
                    {
                        @prod.CodigoProductoNavigation.Nombre

                        <br />

                    }
                </td>


                @if (User.IsInRole("1"))
                {
                    <td>

                        <a class="btn btn-sm   btn-primary" asp-action="Edit" asp-route-id="@item.NumeroCotizacion">Editar</a>
                       

                    </td>
  

                }
                <td>

               
                    <a class="btn btn-sm   btn-primary" asp-action="Details" asp-route-id="@item.NumeroCotizacion">+ Detalles</a>

                </td>

            </tr>



        }

</table>