

@model ProyectoCRM.Models.ViewModels.ContactoIndex


@{
    ViewData["Title"] = "Index";
}

<h1>Contactos</h1>

<p>
    <a asp-action="Index1" class="btn btn-success">Buscar contactos por cliente</a>
</p>


<table class="table table-striped ">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Motivo</th>
            <th>Telefono</th>
            <th>Descripcion</th>
            <th>Cliente</th>
            <th>Asesor</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th>Tareas</th>
            <th>Actividades</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Contactos)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Motivo</td>
                <td>@item.Telefono</td>
      
                <td>@item.Descripcion</td>
                <td>@item.Cliente</td>

                <td>@item.AsesorNavigation.Nombre</td>
                <td>@item.TipoContactoNavigation.Tipo</td>
                <td>@item.EstadoNavigation.Estado1</td>
                


                <td>
                    @foreach (var tarea in item.Tareas)
                    {
                        @tarea.Informacion <hr>

                        

                    }
                </td>
                <td>
                    @foreach (var actividad in item.Actividads)
                    {

                        @actividad.Descripcion <hr>
                        
                    }
                </td>


                <td>
                    <a class="btn btn-sm   btn-primary" asp-controller="Contacto" asp-action="Details" asp-route-id="@item.IdContacto">+ Detalles</a>

                </td>
                <td>

                    <a class="btn btn-sm   btn-primary" asp-controller="Tareas" asp-action="Create" asp-route-id="@item.IdContacto">Agregar tarea</a>

                </td>

                <td>  <a class="btn btn-sm   btn-primary" asp-controller="Actividad" asp-action="Create" asp-route-id="@item.IdContacto">Agregar actividad</a></td>
            </tr>



        }


    </tbody>
    </table>


     

     
