@model List<Producto>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



        <H1>Productos</H1>
 
        
        
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Familia</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.Descripcion</td>
                        <td>@item.Precio</td>
                        <td>@item.CodigoFamilia</td>
                        @if (item.Activo == 1)
                        {
                            <td> Activo </td>
                        }
                        else
                        {
                            <td> Inactivo </td>
                        }




                        <td>
                            <a class="btn btn-primary btn-sm " asp-action="Edit" asp-route-id="@item.Codigo.ToString()">Editar</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>

   

