@model IEnumerable<ProyectoCRM.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de productos</h1>

<div class="card">
    <div class="card-body">
        <a class="btn btn-success btn-sm" asp-action="Create" asp-controller="Producto">Crear Nuevo</a>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Estado</th>
                    <th>Familia de producto</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.Descripcion</td>
                        <td>@item.Precio</td>

                        @if (item.Activo == 1)
                        {
                            <td> Activo </td>
                        }
                        else
                        {
                            <td> Inactivo </td>
                        }
                                        
                        <td>@item.ObjCodigoFamilia.Nombre</td>
                        <td>
                            <a class="btn btn-primary btn-sm " asp-action="Edit" asp-route-id="@item.Codigo.ToString()">Editar</a> 
                        </td>
                    </tr>

                }
            </tbody>
        </table>
