@model IEnumerable<ProyectoCRM.Models.Tarea>

@{
    ViewData["Title"] = "Index";
}

<h1>Mantenimiento de tareas</h1>


<table class="table table-striped ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Informacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinalizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AsesorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Informacion)
                </td>
            <td>
                    @Html.DisplayFor(modelItem => item.FechaFinalizacion)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AsesorNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoNavigation.Estado1)
            </td>
            <td>
                    <a class="btn btn-sm   btn-primary" asp-action="Edit" asp-route-id="@item.Id">Dar mantenimiento</a>
            </td>
        </tr>
}
    </tbody>
</table>
