@model IEnumerable<ProyectoCRM.Models.ProductosXcotizacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioNegociado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoProductoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCotizacionNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioNegociado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoProductoNavigation.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCotizacionNavigation.NumeroCotizacion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
