@model IEnumerable<ProyectoCRM.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes</h1>

<h1>Lista de clientes</h1>




<div class="card">
    <div class="card-body">
        <a class="btn btn-success btn-sm" asp-action="Create" asp-controller="Clientes">Crear Nuevo</a>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre de la cuenta</th>
                    <th>Celular</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Sitio</th>
                    <th>Contacto principal</th>
                    <th>Asesor</th>
                    <th>Zona</th>
                    <th>Sector</th>
                    <th>Moneda</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.NombreCuenta</td>
                        <td>@item.Celular</td>
                        <td>@item.Telefono</td>
                        <td>@item.Correo</td>
                        <td>@item.Sitio</td>
                        <td>@item.ContactoPrincipal</td>
                        <td>@item.Asesor</td>
                        <td>@item.IdzonaNavigation.Zona1</td>
                        <td>@item.IdsectorNavigation.Sector1</td>
                        <td>@item.IdmonedaNavigation.NombreMoneda</td>
                        
                        <td>

                            <a class="btn btn-danger btn-sm " asp-action="Delete" asp-route-id="@item.NombreCuenta">Eliminar</a>

                        </td>
                    </tr>



                }
            </tbody>
        </table>

