@model IEnumerable<ProyectoCRM.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sitio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactoPrincipal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AsesorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdmonedaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdzonaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sitio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactoPrincipal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AsesorNavigation.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdmonedaNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdzonaNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NombreCuenta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NombreCuenta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NombreCuenta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
